# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorando dependencias globales
/node_modules

# Ignorando ejercicios de repaso
/ejercicios

# Ignorando dependencias específicas de cada parte
/fullstack/part0/0.3/node_modules
/fullstack/part0/0.4/node_modules
/fullstack/part0/0.5/node_modules
/fullstack/part0/0.6/node_modules

/fullstack/part1/courseinfo/node_modules
/fullstack/part1/unicafe/node_modules
/fullstack/part1/anecdotes/node_modules

/fullstack/part2/courseinfo/node_modules
/fullstack/part2/phonebook/node_modules
/fullstack/part2/dataCountries/node_modules

/fullstack/part3/phonebookBackend/node_modules/

/fullstack/part4/bloglistBackend/node_modules/



